@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-inner {
  background: url('/images/footer-icon.webp') no-repeat;
  background-position: bottom right;
}

.checkout-form-list input[type="text"], .checkout-form-list input[type="password"], .checkout-form-list input[type="email"], .checkout-form-list input[type="date"], .checkout-form-list textarea, .checkout-form-list .select {
  background: #ffffff;
  border: 1px solid #eaedff;
  border-radius: 0;
  height: 45px;
  padding: 0 10 0 10px;
  width: 100%;
  outline: none;
  border-radius: 10px;
}
.hero-section {
  background: url('/images/hero-section-bg.webp') no-repeat;
}

.staffing-solution {
    background: url(/images/staffing-image.webp) 100% center / cover no-repeat;
    background-position: 106px center;
}
.salary-guide-inner {
  background: url('/images/Salary-Guide-banner-05.webp');
}
.healthcarebox {
  box-shadow: 0 5px 0 0px #0000001a;
}